*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(146, 146, 146);
}

.App-header{
    text-align: center;
    
}

.bodyContainer{
    width: 210mm;
    height: 297mm;
    margin: auto;
    display: flex;
    background-color: rgb(255, 255, 255);
    
}

.info{
    
    width: 30%;
    background-color: rgb(39, 39, 39);
    overflow-wrap: break-word;
}

.education-Experience{
padding: 10px;
width: 70%;
}

.divider{
    background-color: rgb(255, 255, 255);
    width: 60%;
    padding: 3px;
    font-weight: bolder;
    border-radius: 0px 5px 5px 0px
}

.divider2{
    margin: -10px;
    background-color: rgb(39, 39, 39);
    color: bisque;
    width: 80%;
    padding: 3px;
    font-weight: bolder;
    border-radius: 0px 5px 5px 0px
}